@{
    Layout = "_Layout";
}

@using VendorOrderTracker.Models;

<h2>@Model["vendor"].Name</h2>
<h4>@Model["vendor"].Description</h4>
<div>
    <h4>Orders:</h4>
    <ol>
        @foreach (Order order in @Model["orders"])
        {
            <li><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.Title</a></li>
        }
    </ol>

    <form action='/vendors/@Model["vendor"].Id/orders/new' method="get">
        <button type="submit">Add an order</button>

    </form>
</div>
<form action='/vendors/@Model["vendor"].Id/edit' method="get">
    <input id="editId" name="editId" type="hidden" value='@Model["vendor"].Id'>
    <button type="submit">Edit vendor</button>
</form>
<form action="/vendors/{id}/destroy" method="post">
    <input id="vendorId" name="vendorId" type="hidden" value='@Model["vendor"].Id'>
    <button type="submit">Delete vendor</button>
</form>

<form action='/vendors/' method="get">
    <button type="submit">Back to vendor list</button>
</form>
